p {
  text-indent: 30px;
  background-color: rgb(250, 166, 166);
  font-size: larger;
  font-weight: bolder;
  word-spacing: -2px;
  text-align: center;
  text-decoration: underline overline;
  text-decoration-color: rgb(108, 5, 211);
}


h1 {
  letter-spacing: 3px;
  line-height: 50px;
  text-shadow: 2px solid red;
  color: rgb(224, 1, 1);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}